{% extends 'blogApp/base.html' %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>addforbidden</title>
</head>

<body>
  {% block title_block %}
  {% endblock %}

  {% block main_block %}

  <div class="container" style="margin-top: 5%;">
    <h2>Add Forbidden Words<span class="badge bg-secondary">New</span></h2>
    <form method="POST" enctype="multipart/form-data" action="{% url 'addforbidden_word' %}">{% csrf_token %}
      <!-- <input type="hidden" name="user_id" value="{{form.user_id}}"> -->
      <div class="mb-3">
        <label for="recipient-name" class="col-form-label">Forbidden Word:</label>
        <!-- <input type="text" class="form-control" id="recipient-name" name="post_title"> -->
        {{form.name}}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
        <button type="submit" class="btn btn_style">Add</button>
      </div>
    </form>
    {% if messages %} <ul class="messages"> {% for message in messages %} <li class="{{ message.tags }}">{{ message }}
      </li> {% endfor %} </ul> {% endif %}
  </div>

  {% endblock %}

</body>

</html>