{% extends 'blogApp/base.html' %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>homepage</title>
</head>
<body>
    {% block title_block %}
    {% endblock %}

    {% block main_block %}
    <div class="container-fluid">
        <div class="row flex-nowrap">
            <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-dark">
                <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
                    <br>
                    <h1 class="align-items-center pb-3 mb-md-0 me-md-auto text-white h2">Categories</h1>
                    <hr style="height:2px; width:100%; border-width:0; color:#ffffff; background-color:#ffffff">
                    <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
                        <li class="nav-item">
                            <a href="#" class="nav-link align-middle px-0 link-light ">
                                <i class="fs-4 bi-house "></i> 
                                <span class="ms-1 d-none d-sm-inline font_text h3">Category1
                                    <button type="button" class="btn btn_style ">Subscribed</button>
                                </span>
                            </a>
                        </li> 
                        <li class="nav-item">
                            <a href="#" class="nav-link align-middle px-0 link-light ">
                                <i class="fs-4 bi-house "></i> 
                                <span class="ms-1 d-none d-sm-inline font_text h3">Category2
                                    <button type="button" class="btn btn_style ">Subscribed</button>
                                </span>
                            </a>
                        </li>    
                    </ul>
                </div>
            </div>
            <div class="col py-3">
                Posts..
            </div>
        </div>
    </div>
    
    
    {% endblock %}

    
</body>
</html>
