{% extends 'blogApp/base.html' %}
{% load static %}


<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>homepage</title>
</head>

<body>
  {% block title_block %}
  {% endblock %}

  {% block main_block %}

  <div class="container" style="margin-top: 3%;">
    <div class="row">
      {% for x in posts %}
      <div class="card text-white  col-3" style="width: 18rem;background-color: #0e0d0d;">
        <a href="{% url 'post' %}"><img src="{% static 'img/home.jpg' %}" class="card-img-top" style="height:30vh" alt="..."></a>
        <div class="card-body">
          <h3>{{ x.post_title }}</h3>
          <p class="card-text">Date</p>
          <a href="{% url 'post' x.id  %}" class='btn btn-primary'> Details </a>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>

  {% endblock %}
</body>
</html>
