{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/57222a5060.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <nav class="navbar" style="background-color: #383838 ;">
        <div class="container-fluid row">
          <div class="col-2 blog ">
            <a style="color: #ffffff; padding-right:8%;" data-bs-toggle="offcanvas" href="#offcanvasExample"  aria-controls="offcanvasExample"><i class="fa-solid fa-bars"></i></a>
            <a class="navbar-brand  main_color link-light" href="{% url 'home' %}">BYTES N</a>
          </div>
            <li class="nav-item col-2">
              <a class="nav-link main_color link-light" aria-current="page" href="{% url 'homepage' %}"><i class="fa-solid fa-house" style="margin-right: 4%;"></i>Posts</a>
            </li>
            {% if user.is_authenticated %}
            <li class="nav-item col-2">
            <a href="{% url 'create_post' %}">Create Post</a></li>
            <!--   <a class="nav-link main_color link-light" data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="@mdo"><i class="fa-solid fa-comment-plus text-white"></i>Create Post</a>

              <div class="modal fade text-dark" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog ">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLabel"></h5>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                      <form method="POST" action="{% url 'create_post' %}">{% csrf_token %}
                        <div class="mb-3">
                          <label for="recipient-name" class="col-form-label">Title:</label>
                          <input type="text" class="form-control" id="recipient-name" name="post_title">
                        </div>
                        
                        <div class="mb-3">
                          <label for="recipient-name" class="col-form-label">Category:</label>
                          <input type="text" class="form-control" id="recipient-name" name="post_category">
                        </div>
                        <div class="mb-3">
                          <label for="message-text" class="col-form-label">Content:</label>
                          <textarea class="form-control" id="message-text" name="post_content"></textarea>
                        </div>
                        <div class="mb-3">
                          <label for="recipient-name" class="col-form-label">Upload image:</label>
                          <input type="file" class="form-control" id="recipient-name" accept="image/*" name="post_image"/>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                          <button type="submit" class="btn btn_style">Post</button>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </li> -->
            {% endif %}
            <form class="d-flex col-2" action="{% url 'search' %}" method="get">
              <input class="form-control bg-dark bg-gradient p-2 text-white bg-opacity-75 me-2 " name="search_value" type="search" placeholder="Search" aria-label="Search">
              <button type=""submit class="btn btn_style">search</button>
            </form>
            {% if user.is_authenticated %}
            <li class="nav-item col-1">
              <a class="nav-link main_color link-light" href="{% url 'profile' %}"><i class="fa-solid fa-user-large" style="margin-right: 4%;"></i>Profile</a>
            </li>
            <li class="nav-item col-1">
              <a class="nav-link main_color link-light" href="{% url 'logout' %}"><i class="fa-solid fa-right-from-bracket" style="margin-right: 4%;"></i>Logout</a>
            </li>
            {% else %}  
            <li class="nav-item col-2">
              <a class="nav-link main_color link-light" href="{% url 'login' %}"><i class="fa-solid fa-right-to-bracket" style="margin-right: 4%;"></i>Login</a>
            </li>
            {% endif %}
            <div class="offcanvas offcanvas-start text-white" style="background-color:#141414; width:16vw;" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
              <div class="offcanvas-header">
                <h5 class="offcanvas-title align-items-center h2"  id="offcanvasExampleLabel" style="margin-top:2%">Categories</h5>
                <button type="button" class="btn-close text-reset" style="background-color: #ffffff;" data-bs-dismiss="offcanvas" aria-label="Close"></button>
              </div>
              <hr> 
              <div class="row" style="margin-top: 2%;">
                {% for x in cats %}
                  <a href="{% url 'det_category' x.id %}" class="nav-link align-middle px-0 link-light font_text h3 col-5 offset-1">{{ x.cat_name }}</a>
                  {% if user.is_authenticated %}
                      {% if x in subs_id %}
                        <a href="{% url 'unsubscribe' x.id %}" class="btn btn_style col-5" style="height:4vh;margin-top:3%">unsubscribe</a>
                      {%else%}
                        <a href="{% url 'subscribe' x.id %}" class="btn btn_style col-5 "style="height:4vh; margin-top:3%" >subscribe</a>
                      {% endif %}
                  {% endif %}
                  <hr style="width: 80%; margin-left:8%"> 
                {% endfor %}
              </div>
            </div>  
      </nav>
</body>
</html>