body{
    font-family:'Times New Roman', Times, serif !important;
    background-color: #0e0d0d !important;
    overflow: hidden;
    color: #ffffff;
    text-decoration: none;
    list-style-type: none;
} 
.main_color{
    color: #ffffff;
    font-size: 23px;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
}
.main_color:hover{
    color:#e82165
}
.btn_style{
    color: #ffffff;
    background-color: #e82165;
    cursor: pointer;
}
.coloredit{
    background-color:#e9447e;
    color: #ffffff;
}
.coloredit:hover{
    background-color:#e82165;
}
.blog{
    font-size: 28px;
    font-weight: bold;
    
}
.search{
    border:1px solid #ffffff;
}
.search:focus-within{
    outline:5px solid #e82165;
}
/* start login  */
.user_card {
    width: 50%;
    height: 35%;
    margin-top: auto;
    margin-bottom: auto;
    position: relative;
    background-color: #000000;
    opacity: 0.7;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;
}
.form_container {
    margin-top: 20px;
}

#form-title{
    color: #fff;
    
}
.login_btn {
    width: 100%;
    background: #e82165 !important;
    color: white !important;
}
.login_btn:focus {
    box-shadow: none !important;
    outline: 0px !important;
}
.login_container {
    padding: 0 2rem;
}
.input-group-text {
    background: #f7ba5b !important;
    color: white !important;
    border: 0 !important;
    border-radius: 0.25rem 0 0 0.25rem !important;
}
.input_user,
.input_pass:focus {
    box-shadow: none !important;
    outline: 0px !important;
}
#messages{
    background-color: grey;
    color: #fff;
    padding: 10px;
    margin-top: 10px;
}
/* end login  */
.font_text{
    cursor: pointer;
}
.font_text:hover{
    color: #e82165;
}

  /*slider style  */
  @import url('pick a font');
  body {
      /*font: normal 1em 'font';*/
      background-color: #ecfab6;
  }
  
  main {
      margin-top: 4.5em;
  }
  #section1 {
      height: 45em;
  }
  
  
  
  
  
  
