@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body{
    font-family: 'Poppins', sans-serif !important;
    background-color: #242424  !important;
    overflow: hidden;
    color: #ffffff;
    text-decoration: none;
    list-style-type: none;
}
/*main */ 
.main_color{
    color: #ffffff;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
    font-size: 120%;
}
.main_color:hover{
    color:#9055ff
}
.btn_style{
    color: #ffffff;
    background-color: #9055ff;
    cursor: pointer;
}
.btn_style:hover{
    background-color: #df98fa;
}
.coloredit{
    background-color:#9055ff;
    color: #ffffff;
}
.coloredit:hover{
    background-color:#df98fa;
}
.blog{
    font-size: 28px;
    font-weight: bold;
    
}
.search{
    border:1px solid #ffffff;
}
.search:focus-within{
    outline:5px solid #9055ff;
}
/* start login  */
.user_card {
    width: 50%;
    height: 35%;
    margin-top: auto;
    margin-bottom: auto;
    position: relative;
    background-color: #000000;
    opacity: 0.7;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;
}
.form_container {
    margin-top: 20px;
}

#form-title{
    color: #fff;
    
}
.login_btn {
    width: 100%;
    background: #9055ff !important;
    color: white !important;
}
.login_btn:focus {
    box-shadow: none !important;
    outline: 0px !important;
}
.login_container {
    padding: 0 2rem;
}
.input-group-text {
    background: #f7ba5b !important;
    color: white !important;
    border: 0 !important;
    border-radius: 0.25rem 0 0 0.25rem !important;
}
.input_user,
.input_pass:focus {
    box-shadow: none !important;
    outline: 0px !important;
}
#messages{
    background-color: grey;
    color: #fff;
    padding: 10px;
    margin-top: 10px;
}
/* end login  */
.font_text{
    cursor: pointer;
}
.font_text:hover{
    color: #9055ff;
}

  

